/*variáveis*/
:root{
    --green:#00782b;
    --greydark: #303030;
    --cinza: #c9c9c9;
    --fundoclaro: #efefef;
}
/*webkit*/

@-webkit-keyframes shadow-pop-bl {
    0% {
        -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
        box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
        -webkit-transform: translateX(8px) translateY(-8px);
        transform: translateX(8px) translateY(-8px);
    }
}

@keyframes shadow-pop-bl {
    0% {
        -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
        box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
        -webkit-transform: translateX(8px) translateY(-8px);
        transform: translateX(8px) translateY(-8px);
    }
}

@-webkit-keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 10% 10%;
        transform-origin: 10% 10%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
        -webkit-transform-origin: 10% 10%;
        transform-origin: 10% 10%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

/*fontes*/

h1 {
    font-size: xx-large;
    font-family: monospace;
    vertical-align: middle;
    align-self: center;
}

li {
    align-content: center;
}

h2 {
    font-size: medium;
    font-family: monospace;
}

p {
    font-family: monospace;
    font-size: small;
}

/*fundo*/
html {
    height: 100%;
    background-color: var(--greydark);
}

/*cabecario*/

#cabecario {
    margin: 0 auto;
    font-size: 100pt;
    height: fit-content;
    width: fit-content;
    text-align-last: center;
    margin-top: 50px;
}

#ifsocial {
    font-size: 50pt;
    color: #ffffff;
    margin-bottom: auto;
}

#registrotexttitle {
    font-size: 30pt;
    color: #ffffff;
    align-self: center;
}

#logintexttitle {
    font-size: 30pt;
    color: #ffffff;
    align-self: center;
}

.header{
    height: 50px;
    width: 100%;
    display: flex;
    background-color: var(--green);
    margin: -8px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.header .headertitle{
    width: fit-content;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 0;
}

.header .headerbuttons{
    width: fit-content wrap;
    height: 50px;
    margin-left: auto;
    margin-right: 20px;
    align-self: right;
    display: flex;
}

.header .headerimg{
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: 50px;
    background: var(--green);
}

.header .headerimg:hover{
    margin-top: 5px;
    background: var(--green);
    -webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

/*botoes para ir para formularios*/

#button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--green);
    font-family: monospace;
    font-size: medium;
    border: none;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: 150px;
}

#ShowRegister {
    color: lime;
    font-family: monospace;
    font-size: 20pt;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 200px;
    margin: 10pt;
    border-radius: 30px;
    background-color: var(--cinza);
}

#ShowRegister:hover {
    transform: scale(1.05);
    color: var(--green);
    background-color: white;
    -webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#ShowLogin {
    color: lime;
    font-family: monospace;
    font-size: 20pt;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 200px;
    margin: 10pt;
    border-radius: 30px;
    background-color: grey;
}

#ShowLogin:hover {
    transform: scale(1.05);
    color: var(--green);
    background-color: white;
    -webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*formularios de login e registrar*/

#register {
    margin: 0 auto;
    font-size: large;
    font-family: monospace;
    height: fit-content;
    width: fit-content;

}

#login {
    margin: 0 auto;
    font-size: large;
    font-family: monospace;
    height: fit-content;
    width: fit-content;
}

#formreg {
    color: #ffffff;
    height: fit-content;
    width: fit-content;
    font-family: monospace;
    outline-style: inherit;
    border-radius: 15px;
    border-color: var(--green);
}

#formlog {
    color: #ffffff;
    height: fit-content;
    width: fit-content;
    font-family: monospace;
    border-style: none;
    margin-top: 100px;
}

/*formularios*/

fieldset {
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    border-radius: 15px;
    background-color: var(--green);
}

#submit {
    height: 75x;
    width: 150px;
    border-radius: 100px;
    font-family: monospace;
    font-size: 11pt;
    border-style: hidden;
}

.login_profile{
    border-radius: 50px;
    text-emphasis-color: lime;
}

.login_profile:hover{
    border-radius: 50px;
    -webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/*feed*/

#feedlist{
    display: grid;
    width: fit-content wrap;
    height: fit-content wrap;
    margin-top: 50px;
    margin: 0 auto;
    position: sticky;
}

.feedpost{
    min-width: 50%;
    max-width: 50%;
    max-height: 500px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 25px;
    background-color: var(--fundoclaro);
}

#postimg{
    height: 400px;
    width: 300px;
    margin: 0 auto;
}
#postdesc{
    margin-left: 15px;
}
#postbuttons{
    margin-left: 15px;
    margin-bottom: 15px;
    
}