<!DOCTYPE=html />
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/site.css">
    <title>IFSocial - feed</title>
</head>
<!--Cabeçário-->
<body>
    <div class="header">
        <div class="headertitle"><h1>
            IFSocial
        </h1></div>
        <div class="headerbuttons">
            <a href="ifnews.html'" id="botaoifnews">
                <img src="../imgs/icons/ifnews.svg" class="headerimg">
            </a>
            <a href="chats.html'" id="botaochats">
                    <img src="../imgs/icons/chaticon.svg" class="headerimg">
            </a>
            <a href="perfil.html'" id="botaoperfil">
                <img src="../imgs/perfil/(--$userid).jpg" class="headerimg">
            </a>
        </div>
    </div>
    <!--Feed-->
    <div id="feedlist">
                <script>
            /*
            * criar um elemento
            * puxar banco de dados
            // * modificar elemento conforme resultados
            * adicionar no docuemnto
            */


           /*import*/
           /*
            const express = require('express');
            const bodyParser = require('body-parser');
            const mysql = require('mysql');
            const connection = mysql.createPool({
                host     : 'ip_muito_legal_do_nosso_servidor',
                user     : 'jungkook_do_vasco',
                password : 'vasco',
                database : 'ifsocial'
            });

            const app = express();

            # Não se cria rotas nas views
            # Não tem necessidade de uma rota somente para fazer queries

            // Criando uma rota GET que retorna os dados da tabela usuários.
            app.get('/pst', function (req, res) {
                // Conectando ao banco.
                connection.getConnection(function (err, connection) {
                // Executando a query MySQL (selecionar todos os dados da tabela usuário).
                    connection.query('SELECT * FROM post', function (error, results, fields) {
                    // Caso ocorra algum erro, não irá executar corretamente.if (error) throw error;
              
                    // Pegando a 'resposta' do servidor pra nossa requisição. Ou seja, aqui ele vai mandar nossos dados.
                    res.send(results)
                    });
                });
            });
            Document.insert('$postimg');
            Document.write(<p><b>'$userid'</b>'$postdesc'</p>);
        */
        </script>

        <!--Teste pro css (pode apagar se necessário)-->
        <div class="feedlist">
        <div class="feedlist" id="feedimg">
            <img src="$postimg">
        </div>
        </div>
        <div class="feedlist" id="postdesc">
            <p><b><Var>$userid</Var></b><Var>$postdesc</Var></p>
        </div>
        <div class="feedlist" id="feedbuttons">
        <button><img src="../imgs/icons/like.svg"></button>
        <button><img src="../imgs/icons/comment.svg"></button>
    </div>
    </div>
</body>