!DOCTYPE=html
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/site.css">
    <link rel="shortcut icon" href="../public/imgs/icons/ifnews.svg" type="image/x-icon">
    <link rel="script" href="../sqlimport.js">
    <title>IFNews</title>
    
</head>

<body>
    <!--Cabeçário-->
    <div class="header">
        <div class="headertitle"><h1>
            IFSocial
        </h1></div>
        <div class="headerbuttons">
            <a href="/views/ifnews.html" id="botaoifnews">
                <img src="../public/imgs/icons/ifnews.svg" class="headerimg">
            </a>
            <a href="/views/chats.html" id="botaochats">
                    <img src="../public/imgs/icons/chaticon.svg" class="headerimg">
            </a>
            <a href="/views/perfil.html" id="botaoperfil">
                <img src="../public/imgs/icons/semfot.svg" id="fotoperfil"class="headerimg">
            </a>
        </div>
    </div>

    <div class="feedlist">
        <span class="desktop"><rssapp-imageboard id="gHOkQ2CjJU8NiIKT"></rssapp-imageboard><script src="https://widget.rss.app/v1/imageboard.js" type="text/javascript" async></script></span>
        <span class="mobile"><rssapp-feed id="gHOkQ2CjJU8NiIKT"></rssapp-feed><script src="https://widget.rss.app/v1/feed.js" type="text/javascript" async></script></span>
    </div>

</body>