<!DOCTYPE=html />
<html lang="pt">
<!--cabeçario-->
<link rel="stylesheet" href="../css/site.css" />
<head>
    <div id="cabecario">
        <h1 id="ifsocial">
            IFSocial
        </h1>
    </div>
</head>

<body>
    <!--Botões de seleção login ou Registro-->
    <div id="button">
        <button onclick="window.location = document.location.origin+'/register.html'" id="ShowRegister">Register</button>
        <br>
        <button onclick="window.location = document.location.origin+'/login.html'" id="ShowLogin">Login</button>
    </div>

</html>