!DOCTYPE=html
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="shortcut icon" href="/imgs/icons/ifnews.svg" type="image/x-icon">
    <link rel="script" href="../sqlimport.js">
    <title>IFSocial - feed</title>
    
</head>

<body>
    <!--Cabeçário-->
    <div class="header">
        <div class="headertitle"><h1>
            IFSocial
        </h1></div>
        <div class="headerbuttons">
            <a href="/views/ifnews.html" id="botaoifnews">
                <img src="/imgs/icons/ifnews.svg" class="headerimg">
            </a>
            <a href="/views/chats.html" id="botaochats">
                    <img src="/imgs/icons/chaticon.svg" class="headerimg">
            </a>
            <a href="/views/perfil.html" id="botaoperfil">
                <img src="/imgs/icons/semfot.svg" id="fotoperfil"class="headerimg">
            </a>
        </div>
    </div>
    <div id="corpo">
    <div id="newsline">
        <rssapp-list id="gHOkQ2CjJU8NiIKT"></rssapp-list><script src="https://widget.rss.app/v1/list.js" type="text/javascript" async></script>
    </div>
    <!--Feed-->
        <div id="feedlist">
        
                <script>
               /*
                * criar um elemento
                * puxar banco de dados
                * modificar elemento conforme resultados
                * adicionar no docuemnto
                */

                //post
                let desc = "olá mundo";
                let id = "Usuário";
                let img = "/imgs/Untitled.png";
                for(let i = 0; i<10; i++){
                    var element = document.getElementById('feedlist');
                    element.innerHTML += '<div class="feedpost"><div id="postimg"><img id="postimg" src="'+img+'"></div><div id="postdesc"><p><b>&#127760'+id+'  </b>'+desc+'</p></div><div id="postbuttons"><button class="likebot"><img src="/imgs/icons/like.svg" class="likeicon"></button><button class="likebot"><img src="/imgs/icons/comentarios.svg" class="likeicon"></button></div> '
                }
                </script>  
         </div>
    </div>
</body>