!DOCTYPE=html
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/site.css">
    <title>IFSocial - Meu Perfil</title>
    
</head>
<body>
    <!--Cabeçário-->
    <div class="header">
        <div class="headertitle"><h1>
            IFSocial
        </h1></div>
        <div class="headerbuttons">
            <a href="ifnews.html'" id="botaoifnews">
                <img src="../imgs/icons/ifnews.svg" class="headerimg">
            </a>
            <a href="chats.html'" id="botaochats">
                    <img src="../imgs/icons/chaticon.svg" class="headerimg">
            </a>
            <a href="perfil.html'" id="botaoperfil">
                <img src="../imgs/perfil/semfoto.png" id="fotoperfil"class="headerimg">
            </a>
        </div>
    </div>
</body>
