<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/site.css">
    <link rel="script" href="../db.js">
    <link rel="shortcut icon" href="../public/imgs/icons/ifnews.svg" type="image/x-icon" />
    <title>IFSocial - Register</title>
</head>
<div id="cabecario">
    <h1 id="ifsocial">
        IFSocial
    </h1>

</div>
<!--Form de register-->
<div id="register">
    <!--Formulário de registro-->
    <form method="post" action="../db.js" id="formreg">
        <fieldset class="formulario">
            <script>
                var nome = document.getElementById('nome');
                var nickname = document.getElementById('nickname');
                var senha = document.getElementById('senha');
                var email = document.getElementById('email')

            </script>
            <h4 class="account">Registrar</h4>
            <ul>
                <li>
                    <!--Inserir Nome-->
                    <label for="nome">Nome completo</label>
                    <input type="text" id="nome" name="nome" class="campoform" />
                </li>
                <li>
                    <!--Inserir Email-->
                    <label for="email">E mail</label>
                    <input type="email" id="email" name="email" class="campoform" />
                </li>
                <li>
                    <!--Inserir senha-->
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" class="campoform" />
                </li>
                <li>
                    <!--Escolher nick-->
                    <label for="nickname">Nickname</label>
                    <input type="text" id="nickname" name="nickname" class="campoform" />
                </li>

            </ul>
            <input type="submit" id="submit" class="login_profile" value="criar conta">
        </fieldset>
</div>
<div id="button">
    <h2>Já tem alguma conta?</h2>
    <a href="/views/index.html">
        <button id="ShowLogin">Login</button>
        </a>
</div>

</html>